<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vue tutorial</title>
    <link rel="stylesheet" href="styles.css">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>
<body>
<div id="shopping-list">
<div class="header">
    <h1 id="title">{{message || 'Welcome'}}</h1>
    <button v-if="editing" @click='doEdit(false)' class="btn-cancel">Cancel</button>
    <button v-else @click="doEdit(true)" class="btn-primary">Add Item</button>
</div>

    <div v-if="editing" class="add-item-form">
        <input @keyup.enter="saveItem" id="new-item" type="text" placeholder="Add an item..." v-model="newItem">
        <p class="counter">{{charCount}}/200</p>
        <button class="btn-primary"
                v-bind:disabled="newItem.length < 0"
                @click="saveItem">
            Save Item
        </button>
        <br>
        <label>
            <input type="checkbox" v-model="newItemPriority">
            High Priority
        </label>
    </div>
    <p v-if="items.length === 0">Good job. You've bought everything on the list</p>
    <ul>
     <li class="list" v-for="item in reversedItems" :key="item.id"
         @click="togglePurchased(item)"
         :class="{strikeout: item.purchased, priority: item.highPriority}"
     >{{item.label}}</li>
 </ul>
</div>

<script src="main.js"></script>
</body>
</html>